<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
<property name="hibernate.dialect">
org.hibernate.dialect.PostgreSQLDialect
</property>
<property name="hibernate.connection.driver_class">
org.postgresql.Driver
</property>
<!-- Assume test is the database name -->
<property name="hibernate.connection.url">
jdbc:postgresql://localhost:5432/currency_exchange
</property>
<property name="hibernate.connection.username">
advent
</property>
<property name="hibernate.connection.password">
axt8
</property>
<!-- List of XML mapping files -->
<mapping resource="db/table/Country.hbm.xml"/>
<mapping resource="db/table/Currency.hbm.xml"/>
<mapping resource="db/table/CurrencyRatios.hbm.xml"/>
</session-factory>
</hibernate-configuration>